#logobar {
	background-color: #006600;
	min-height: 80px;
}
#toolbar {
	background-color: #006600;
	color: #FFFFFF;
	padding: 5px;
}
#messagebar {
	border: 2px solid black;
}
#content {
	display: flex;
	flex-flow: row wrap;
	min-height: 500px;
}
#leftnav {
	background-color: #006600;
	color: #FFFFFF;
	float: left;
	width: 15%;
	min-height: 500px;
	border-right: 6px solid black;
	padding: 5px;
}
#core {
	float: left;
	padding: 15px;
	max-width: 80%;
}
#footerbar {
	background-color: #006600;
	color: #FFFFFF;
	padding: 5px;
	border: 6px solid #006600;
}
/* Display / Edit / Add Records */
.RecordView {
	background-color: #BBBBFF;
}
.RecordView textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80%;
}
.RecordEdit {
	background-color: #FFFF99;
}
.embedded {
	display: flex;
	flex-flow: row wrap;
}
legend {
	background-color: #006600;
	color: #FFFFFF;
	border: 1px black solid;
	padding: 3px;
}
.labeldiv {
	display: inline;
	float: left;
	text-align: right;
	height: 1.5em;
	margin-bottom: 5px;
}
#RecordAudit {
	display: block;
}
#bom_header_edit {
	min-height: 5em;
}